.container {
  width: 42px;
  height: 60px;
  border: 2px solid #59bce470;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  position: relative;
  cursor: pointer;
  flex-direction: column;
  margin-left: 20px;
}

.icon {
  font-size: 12px;
}

.ball {
  width: 15px;
  height: 15px;
  background-color: #59bce4;
  border-radius: 50%;
  position: absolute;
}
